<div id="bug-report-tab">Report Bug</div>
<div id="bug-report">
    <img id="logo" src="https://s3.amazonaws.com/appforest_uf/f1623428996372x454024171328204500/MLabsBottleBubblingWhitev2.gif" alt="Logo" width="50" height="50">
    <textarea id="description" placeholder="Describe the bug"></textarea>
    <img id="screenshot" alt="Screenshot">
    <button id="edit-screenshot">Edit Screenshot</button>
    <button id="send-report">Send Report</button>
</div>

<div id="annotation-modal">
    <div id="annotation-editor">
        <div id="tools">
            <img id="add-arrow" class="tool-icon" src="https://cdn-icons-png.flaticon.com/512/25/25298.png" alt="Add Arrow">
            <img id="add-text" class="tool-icon" src="https://cdn-icons-png.flaticon.com/512/1828/1828911.png" alt="Add Text">
<button id="delete-item">
                <img class="tool-icon" src="https://cdn-icons-png.flaticon.com/512/565/565922.png" alt="Delete Item">
            </button>

            <button id="save-annotations">Save Annotations</button>
        
        </div>
        <canvas id="annotation-canvas"></canvas>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/4.5.0/fabric.min.js"></script>
<script>
   
</script>